body{ font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.cartao {
    background-color: red;
    display: flex;  
    width: 50%;
    height: 50%;
    flex-direction: column;
}

.cartao .informacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartao .interacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}