body{ font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}

img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.cartao {
    background-color: #ffff;
    display: flex;  
    width: 50vh;
    flex-direction: column;
    border-radius:3%; 
}

.cartao .informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cartao .interacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
}

.foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome {
    margin: 5px;
}

.localizacao .pais {
    font-weight: 400;
    opacity: 70%;
    padding: 5%;
}

.informacoes .idade {
    font-weight: 700;
    opacity: 50%;
}

.interacoes .followers1 {
    font-weight: 400;
    opacity: 70%;
}

.interacoes .likes1 {
    font-weight: 400;
    opacity: 70%;
}

.interacoes .photos1 {
    font-weight: 400;
    opacity: 70%;
}

.interacoes div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

